@model CovidCare.Models.ApplicationUser

<form method="post" asp-action="ViewProfile">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        User Profile
                    </div>
                    <div class="col-6 text-right">
                        <a asp-controller="Dashboard" asp-action="Index" a class="btn btn-outline-info btn-sm">Back to Dashboard</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>NID</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.NID" type="text" class="form-control" />
                                        <span asp-validation-for="Id" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Full Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.Email" type="text" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.Gender" type="text" class="form-control" />
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Age</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.Age" type="text" class="form-control" />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Vaccination Status</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.VaccinationStatus" type="text" class="form-control" />
                                        <span asp-validation-for="VaccinationStatus" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Tested Positive</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.PosDate" type="text" class="form-control" />
                                        <span asp-validation-for="PosDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Contact Number</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.Address" type="text" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="@Model.Description" type="text" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label></label>
                                    </div>
                                    <div class="col text-center">
                                        <a asp-controller="UserActivities" asp-action="Edit" class="btn btn-success mx-2">Update</a>
                                        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-info mx-4">Back</a>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
